<h1>Add a product.</h1>

  <%= form_for @product do |f| %>
    Name: <%= f.text_field :name %>
    Description: <%= f.text_field :description %>
    Password: <%= f.number_field :price %>
  <%= f.submit "Submit" %>

<% end %>
